<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-hide-small">
      <div class="w3-right">
      <%= image_tag "airly.svg"%>
      </div>
      <h1>Czujniki Airly <%= Setting.subtitle %></h1>
    Źródło danych: API <a href="https://developer.airly.eu/docs">Airly</a>

    <br><br>
    <h3>Średnie z ostatniej doby dla obszaru (uśrednienie ze wszystkich stacji)</h3>

    <br>
    <table class="w3-table w3-bordered w3-card-4" style="width:50%">
      <tr>
        <td>PM10</td>
        <td><b><%= @daily_pm10_avg*100/50%>% normy WHO</b> (<%= @daily_pm10_avg %> µg/m3)</td>
      </tr>
      <tr>
        <td>PM2.5</td>
        <td><b><%= @daily_pm25_avg*100/25%>% normy WHO</b> (<%= @daily_pm25_avg %> µg/m3)</td>
      </tr>
    </table>

<br>
<br>
<br>
<h3>Pył zawieszony PM10 i PM2.5 w ostatnich 24h (uśrednienie ze wszystkich stacji)</h3>

<canvas id="area" width="400" height="200"></canvas>

<br>
<br>
</div>
  <h2 class="">Pomiary na żywo</h2>
  <h6 class="w3-hide-large w3-hide-medium">Aktualizacja: <%= @updated %></h6>
  <table class="w3-table w3-striped w3-card-4 w3-row">
    <tr>
      <th>Lokalizacja</th>
      <th>PM10</th>
      <th>PM2.5</th>
      <th class="w3-hide-small">Godzina pomiaru</th>
      <th>Interpretacja*</th>
    </tr>
  <% @live.each do |m| %>
      <tr>
        <td><%= m.installation.name if m.installation %></td>
        <td><%= (m.pm10*100)/50 %>%</td>
        <td><%= (m.pm25*100)/25 %>%</td>
        <td class="w3-hide-small"><%= m.created_at.in_time_zone("Warsaw").strftime("%H:%M")  %></td>
        <%= getColor(m.pm10, m.pm25) %>
      </tr>

  <% end %>

  </table>
   <!-- < social_share_button_tag('smog alert', url: 'http://www.jaworznobezsmogu.pl/', desc: @live.first.installation.name+' - PM10: '+'% wartości dopuszczanej'+'<b>Więcej</b> na jaworznobezsmogu.pl') %> -->
  <br>
  *Interpretacja na podstawie <a href="http://spjp.katowice.wios.gov.pl/wskaznik.html">wskaźnika obliczonego wg wytycznych WIOŚ</a><br>
  Uwaga: norma procentowa WHO dotyczy wartości dobowej, powyższe odczyty są wartościami chwilowymi.
<br>
<br>
<br>
<div class="w3-hide-small">
    <h2>Pył zawieszony PM10 - średnie godzinowe w ostatnich 24h</h2>
    <h5>Kliknij w legendę aby pokazać/ukryć serię danych</h5>
    <canvas id="live" width="410" height="260"></canvas>
  </div>
  </div>
</div>
