<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
<h2>Zarejestruj się</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w3-input w3-border" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(co najmniej <%= @minimum_password_length %> znaków)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "w3-input w3-border"  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "w3-input w3-border"  %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Zarejestruj się", class: "w3-btn w3-green"  %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
</div>
