<% content_for :title, " - Powietrze w Jaworznie, luty 2018" %>
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

    <h1>Powietrze w Jaworznie - luty 2018</h1>
  <br>
    <div class="w3-center imago">
    <%= image_tag "bieda.jpg" %>
    </div>
    <br>
    <h2>Pomiary dla całego Jaworzna (uśrednienie z 20 stacji) za luty 2018</h2>
    <br>
    <div class="w3-container w3-center">

    <table class="w3-table w3-bordered w3-card-4">
      <tr>
        <td><b>PM10</b></td>
        <td>
          <%= (@stats_jaworzno_february.map { |x| x["pm10"].to_f }.reduce(:+) / @stats_jaworzno_february.size).round(2) %> µg/m3
        </td>
      </tr>
      <tr>
        <td><b>PM2.5</b></td>
        <td>
          <%= (@stats_jaworzno_february.map { |x| x["pm25"].to_f }.reduce(:+) / @stats_jaworzno_february.size).round(2) %> µg/m3
        </td>
      </tr>
    </table>

    </div>

    <br><br>
    <p>Powietrze w regionie w ubiegłym miesiącu było wyraźnie gorsze niż w styczniu (średnia PM10 w styczniu 68.94 µg/m3, w lutym 87.28 µg/m3), choć nie było tak dramatycznych dni jak 26 stycznia. Po prostu przez cały miesiąc było źle.</p>
    <p>Czasem powtarzamy, że chwilowy bardzo wysoki pomiar z jednej stacji nie musi wzbudzać naszych obaw bo dobowe uśrednienie może nie przekraczać dopuszczalnej normy. Tym razem <b>mieliśmy doczynienia z sytuacją odwrotną</b> - utrzymywanie się przez całą dobę zapylenia które w interpretacji odczytu chwilowego wg. WIOŚ jest "dostateczne" w ostatecznym rozrachunku może dać aż 300% dobowej normy - <b>czyli fatalnie.</b></p>


    <h3 class="w3-center">Średniodobowe stężenia PM10</h3>
    <canvas id="pm10_february" width="400" height="200"></canvas>
    <h4>Ilość dni z przekroczoną normą dobową:
      <span id="countDays10"></span>/28
    </h4>
    <br>
    <p>Prawo UE dopuszcza 35 dni w roku kalendarzowy kiedy dobowe wartości pyłu PM10 są przekroczone. Biorąc pod wskazania jaworznickich pyłomierzy - w naszym mieście ten <b>limit na rok 2018 wyczerpaliśmy już 16 lutego.</b></p>


    <br>

    <p>Z punktu widzenia mieszkańcow Jaworzna analiza wygląda ciekawie z rozbiciem na poszczególne dzielnice. <b>Gdzie oddychało się najgorzej, a gdzie stosunkowo najlepiej?</b></p>
    <br><br>
    <h2>Pomiary dla poszczególnych dzielnic</h2>
    <br>
    <h3 class="w3-center">Średnie miesięczne stężenia PM10 dla poszczególnych czujników</h3>

    <canvas id="districts" width="400" height="250"></canvas>

    <br>
    <p>Niestety powietrze w lutym <b>we wszystkich monitorowanych w Jaworznie miejscach było gorsze</b> niż normy UE oraz WHO.</p>

    <p>W zestawieniu pominęliśmy dane z dwóch czujników: </p>
    <ul>
      <li><b>Długoszyn</b> - w ostatecznym rozrachunku zanotowano tam wyniki gorsze niż w Jeleniu (średnia PM10 na Chropaczówce - 121,66 ug/m3), ale wartość miesięczna może być nieco zawyżona - czujnik nie działał przez drugą, "lepszą" część miesiąca (patrz wykres skumulowany).</li>
      <li><b>Jeleń Wygoda</b> - zbierał dane tylko przez kilka ostatnich dni lutego</li>

    <p>Pozostałe odczyty bez niespodzianki: w Jaworznie najbardziej zanieczyszczone są dzielnice domów jednorodzinnych położonych dolinach Pagórów Jaworznickich - <b>Jeleń, Byczyna oraz Bory</b>. W lutym źle było również w okolicy stadionu <b>Azotania</b> (źródłem zanieczyszczenia jest prawdpodobnie pobliski Pszczelnik).</p>

    <p>Gdzie oddychało się stosunkowo najlepiej? Również bez niespodzianki: otoczone lasami okolice jaworznickiej pływalni, położone na wzgórzach Podwale i "Górka" oraz wietrzny Plac Górników.</p>

    <p>Przeanalizujmy jeszcze szczegółową tabelę danych. <b>Nagłówek tabeli jest klikalny</b> - można ją sortować po wybranych wartościach rosnąco / malejąco. </p>
    <br>
    <h3 class="w3-center">Średnie miesięczne pyłów dla poszczególnych czujników - szczegóły</h3>
    <br>
    <table class="sortable w3-table w3-striped w3-card-4 w3-row">
      <thead><tr><th>Lokalzacja</th><th>PM10 [ug/m3]</th><th>PM2.5 [ug/m3]</th><th>Ile dni z przekroczoną normą PM10</th></tr></thead>
      <tbody>
        <tr><td>Jeleń Kościół </td><td>118.79</td><td>69.95</td><td>27 </td></tr>
        <tr><td>Byczyna </td><td>102.05</td><td>67.28</td><td>26 </td></tr>
        <tr><td>Bory </td><td>100.02</td><td>59.04</td><td>28 </td></tr>
        <tr><td>Stadion Azotania </td><td>92.30</td><td>55.94</td><td>27 </td></tr>
        <tr><td>Elektrownia Zespół Szkół </td><td>89.85</td><td>51.16</td><td>27 </td></tr>
        <tr><td>Stara Huta </td><td>88.86</td><td>57.09</td><td>26 </td></tr>
        <tr><td>Szczakowa </td><td>87.22</td><td>59.33</td><td> bd </td></tr>
        <tr><td>Osiedle Azot </td><td>86.94</td><td>58.60</td><td>25 </td></tr>
        <tr><td>Rynek </td><td>86.21</td><td>54.98</td><td>26 </td></tr>
        <tr><td>Dąbrowa Narodowa </td><td>85.85</td><td>55.89</td><td>26 </td></tr>
        <tr><td>Pieczyska </td><td>85.02</td><td>55.09</td><td>bd </td></tr>
        <tr><td>Podłęże Ławczana </td><td>84.24</td><td>52.17</td><td>27 </td></tr>
        <tr><td>Ciężkowice </td><td>82.20</td><td>55.19</td><td>28 </td></tr>
        <tr><td>Jeziorki </td><td>79.49</td><td>51.77</td><td>bd </td></tr>
        <tr><td>Sulińskiego Górka </td><td>78.31</td><td>51.03</td><td>24 </td></tr>
        <tr><td>Plac Górników </td><td>73.07</td><td>49.11</td><td>25 </td></tr>
        <tr><td>Podwale </td><td>71.36</td><td>47.19</td><td>23 </td></tr>
        <tr><td>Osiedle Stałe Basen </td><td>65.56</td><td>43.52</td><td>21 </td></tr>
      </tbody>
    </table>

<br>

<p>Ciężkowice oraz Bory niestety nie miały w lutym ani jednego dnia bez przekroczenia dobowej normy.</p>
<p>Na koniec wszystkie stacje na jednym wykresie liniowym. Wydaje się być nieczytelnym, ale <b>legenda jest klikalna - można pokazywać i ukrywać poszczególne serie danych</b>. Kolory dobierane są losowo - <b>w celu dobrania nowych kolorów prosimy odświeżyć stronę.</b> </p>

<p>Warto zwrócić uwagę na stacje z niepełnymi wykresami: Jeleń Wygoda, Długoszyn, Szczakowa, Jeziorki oraz Pieczyska.</p>
<h3 class="w3-center">Stężenia pyłów PM10 w poszczególnych dzielnicach - luty 2018</h3>

<canvas id="station_chart" width="410" height="240"></canvas>

<br><br>
<h2>Źródła danych</h2>

<p>Źródłem analizy były odczyty 20 czujników firmy Airly zakupionych przez Miasto Jaworzno. Co 10 minut łączymy się z API urządzeń i odczytujemy bieżące pomiary zanieczyszczeń. Dodatkowo począwszy od 1 stycznia 2018 raz dziennie kilka minut po północy pobieramy z serwera Airly 24 średnie godzinowe z ostatniej doby i <b>zapisujemy do bazy danych średnią dobową dla każdego z 20 urządzeń.</b> Od lutego 2018 zapisujemy również wszystkie pomiary czujników Airly z miast: Katowice, Mysłowice, Sosnowiec oraz Dąbrowa Górnicza. Wyniki pomiarów opublikujemy w najbliższych dniach. </p>

<p>Jaworznickie czujniki dokonują laserowego pomiaru cząstek stałych PM10 oraz PM 2.5. Nie są mierzone wartości benzo(a)pirenów, SOx oraz NOx. Nie są w stanie wykryć spalania odpadów. Są to proste pyłomierze.</p>

<p>Kwestię tego czy odczyty urządzeń firmy Airly są wiarygodne <a href="http://www.jaworznobezsmogu.pl/aktualnosci/pomiary">omówiliśmy w osobnym artykule</a>. Ich największą zaletą w naszym mieście jest ich ilość. Dzięki temu możemy zbadać <b>zróżnicowanie przestrzenne</b> zanieczyszczeń w Jaworznie.</p>
<br>
<p class="w3-right"><i>WB</i></p>
      <script>
      // document.addEventListener("DOMContentLoaded", function(){

        // $(document).on('turbolinks:load', function () {

          var originalLineDraw = Chart.controllers.horizontalBar.prototype.draw;
          Chart.helpers.extend(Chart.controllers.horizontalBar.prototype, {

              draw: function () {
                  originalLineDraw.apply(this, arguments);

                  var chart = this.chart;
                  var ctx = chart.chart.ctx;

                  var index = chart.config.options.lineAtIndex;
                  if (index) {

                      var xaxis = chart.scales['x-axis-0'];
                      var yaxis = chart.scales['y-axis-0'];

                      var x1 = xaxis.getPixelForValue(index);
                      var y1 = yaxis.top;

                      var x2 = xaxis.getPixelForValue(index);
                      var y2 = yaxis.bottom;

                      ctx.save();
                      ctx.beginPath();
                      ctx.moveTo(x1, y1);
                      ctx.strokeStyle = 'red';
                      ctx.lineTo(x2, y2);
                      ctx.stroke();

                      ctx.restore();
                  }
              }
          });

          let data = [74.78601079082304, 83.4088626364369, 134.71695270245692, 103.82878774419524, 71.74786770164503, 129.4763216667365, 93.27243418141092, 100.27198000456312, 110.56090179340642, 118.12436764853167, 143.98356465987112, 109.89782177932081, 131.25617473787287, 63.28702525169194, 65.52139163077489, 82.95283218983892, 107.00316989017418, 88.19107364838777, 44.522714886967236, 65.41740914364344, 73.79187746947716, 52.23659527088918, 65.81438191026923, 66.28993231954644, 67.57390507430453, 76.63633531588873, 48.86524177698675, 54.1720234888666];
          pm10_report("pm10_february", 28, data);
          document.getElementById("countDays10").innerHTML = data.filter(x => x > 50).length;

          // let data2 = [49.340934397569455, 53.869895370708576, 88.0345992198564, 66.44015033365315, 45.33708394879072, 81.78916287244756, 60.58043984328595, 64.06774855482942, 71.31776973753085, 76.08253358706463, 89.71201103397307, 70.66827681090813, 84.39981464972674, 39.486135238743984, 40.66142417525759, 53.02781331766703, 68.81771379921125, 56.02015852520967, 28.46595592602782, 40.93377777954298, 46.110914927179195, 31.86941347252634, 40.30307128810376, 41.54384334403992, 42.53776669355457, 47.45136989550629, 30.91189661441798, 34.29504548];
          // pm25_report("pm25_february", 28, data2);
          // document.getElementById("countDays25").innerHTML = data2.filter(x => x > 25).length;
          //
          // let data = [78.51456311, 143.6421053, 90.47368421, 44.88421053, 39.43157895, 38.87368421, 33.56842105, 45.23348018, 43.76842105, 20.21276596, 15.50434783, 10.61052632, 48.29473684, 18.97894737, 39.53684211, 130.4315789, 111.0736842, 143.4210526,
          // 94.52631579, 87.8277512, 54.16845878, 36.31654676, 27.58422939, 20.18996416, 36.38351254, 68.21582734, 69.07608696, 30.09473684, 53.66666667, 58.17894737, 26.02222222]; pm10_report("pm10_november", 30, data);
          // document.getElementById("countDays10").innerHTML = data.filter(x=> x > 50).length ; Chart.defaults.global.legend.display = false;
          let ctx = document.getElementById("districts").getContext('2d');
          let data3 = [118.798, 102.047, 100.023, 92.301, 89.85, 88.86, 87.22, 86.936, 86.214, 85.848, 85.015, 84.238, 82.204, 79.49, 78.31, 73.065, 71.364, 65.557];

          let myBarChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
              labels: ['Jeleń Kościół', 'Byczyna', 'Bory', 'Stadion Azotania', 'Elektrownia Zespół Szkół', 'Stara Huta', 'Szczakowa', 'Osiedle Azot', 'Rynek', 'Dąbrowa Narodowa', 'Pieczyska', 'Podłęże Ławczana', 'Ciężkowice', 'Jeziorki', 'Sulińskiego Górka', 'Plac Górników', 'Podwale', 'Osiedle Stałe Basen'],
              datasets: [
                {
                  label: 'PM10 [ug/m3]',
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  data: data3
                }
                // , {
                //   type: 'line',
                //   label: 'Wartość dopuszczalna - 40 [ug/m3]',
                //   backgroundColor: 'rgba(255, 99, 132, 0)',
                //   borderColor: 'rgba(255, 0, 0, 1)',
                //   borderWidth: 1,
                //
                // }
              ]
            },
            options: {
              // lineAtIndex: 50,
              scales: {
                xAxes: [
                  {
                    position: 'top',
                    ticks: {
                      beginAtZero: true
                    }
                  }
                ],
                yAxes: [
                  {
                    ticks: {
                      fontSize: 14
                    }
                  }
                ]
              }
            }
          });

          // });
        // });

        var nil = null

        monthly_chart(
        "station_chart", [...Array.from(new Array(28), (x,i) => i+1)],
        <% @stats_jaworzno_february.group_by{|stat| stat.station_id }.each do |station, s| %>
        <% avg = Array.new(28, nil) %>
        <% (0..27).each do |i| %>
          <% s.each do |s| %>
            <% avg[i] = s["pm10"].to_f if s["day"].day == i+1 %>
          <% end %>
        <% end %>
        "<%= Station.find(station).name %>", <%= avg %>,
        <% end %>
        )


      </script>

    </div>
  </div>
